<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.liam.studybuddy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".LogIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp" />
        <activity android:name=".HomeMenu" />
        <activity android:name=".Timetable" />
        <activity android:name=".Profile" />
        <activity android:name=".Calender" />
        <activity android:name=".Messaging" />
        <activity android:name=".StudySearch" />
        <activity android:name=".ExamTimetable" />
        <activity android:name=".Info" />
        <activity android:name=".BottleActivity" />
        <activity android:name=".Game_Menu" />
        <activity android:name=".Calendar_Events" />
        <activity android:name=".SchoolBusLinks" />
        <activity
            android:name=".NavActivity"
            android:label="@string/title_activity_nav"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Chat_Room" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".XsAndOs"></activity>
    </application>

</manifest>